.DS_Store
Servers
target
build
bin
default
.metadata
.settings
.gradle
*.war
*.bak
DB/reciperecommender_original.sql
DB/reciperecommender.sql
data/recipe_data.csv
data/food_images.zip
data/food_images/*
BootRecipeRecommender/src/main/webapp/images/food_images/*
