.DS_Store
Servers
target
build
bin
default
.metadata
.settings
.gradle
*.war
*.bak
DB/reciperecommender_original.sql
DB/reciperecommender.sql
data/food_images/*
data/*.json
BootRecipeRecommender/src/main/webapp/images/food_images/*
